<h4>Stap 1&nbsp;</h4>
<p>Open uw Google Chrome browser en typ het volgende in in uw adresbalk: chrome://version</p>
<h4>Stap 2</h4>
<p>U komt nu op een website met informatie over waar de gegevens van Google Chrome op uw computer opgeslagen staan. Zoek
    op deze website naar het kopje Profielpad. Kopieer de regel(s) (CMD+C voor mac of CTRL+C voor windows) die rechts
    naast dit kopje staan.&nbsp;</p>
<img class="img-fluid" alt="" src="../static/chrome_instructions/image1.png" style="max-width:60%;">
<h4>Stap 3</h4>
<p>Open uw documenten (windows) of Finder (mac)</p>

<table class="table table-sm w-auto small">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Mac</th>
            <th scope="col">Windows</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <p>De Finder vindt u linksonder in uw dock. Dit menu verschijnt als u met uw muis naar beneden gaat op
                    uw
                    bureaublad.</p>
                <img class="img-fluid" alt="" src="../static/chrome_instructions/image2.png" style="max-width:10%;">
                <p>Als u met uw muis naar boven beweegt, verschijnt er boven het Finder-document een menu. Klik op
                    Ga/Go en dan op Ga naar map/Go to Folder.</p>
                <img class="img-fluid" alt="" src="../static/chrome_instructions/image3.png" style="max-width:40%;">
                <p>U krijgt een scherm te zijn waar u een map kan invullen. Plek in het lege veld in wat uw net
                    gekopieerd hebt (CMD+V). Klik vervolgens op Ga/Go.</p>
                <img class="img-fluid" alt="" src="../static/chrome_instructions/image4.png" style="max-width:60%;">

            </td>
            <td>
                <p>Uw documenten vindt u links onder in uw navigatiebalk</p>
                <img class="img-fluid" alt="" src="../static/chrome_instructions/image5.png" style="max-width:10%;">
                <p>Plak in het navigatiescherm van de documenten de regel die u net gekopieerd heeft. Deze zit boven de
                    documenten zelf en onder het menu.</p>
                <img class="img-fluid" alt="" src="../static/chrome_instructions/image6.png" style="max-width:80%;">
            </td>
        </tr>
    </tbody>
</table>

<h4>Stap 4</h4>
<p>U komt nu terecht op de plek op uw laptop waar uw Google Chrome-gegevens worden bewaard. </p>
<img class="img-fluid" alt="" src="../static/chrome_instructions/image7.png" style="max-width:60%;">
<h4><br />Stap 5</h4>
<p>Uit deze map upload u de volgende bestand naar het systeem: History</p>