<h5>Stap 1</h5>
<p>Open de internetbrowser op uw laptop of desktop. Ga naar <a href="http://www.facebook.com/"
        target="_blank">www.facebook.com</a> of
    klik op deze link.<br /></p>
<p style="font-size: small;">Bent u nog niet ingelogd? Log dan in met uw mailadres en wachtwoord.<br /></p>
<p style="font-size: small;">Wachtwoord vergeten? &nbsp; Klik op <strong>wachtwoord vergeten</strong> en voer uw
    e-mailadres en/of
    telefoonnummer in om een nieuw wachtwoord aan te maken.&nbsp; U krijgt een e-mail van Facebook. Als u op de
    link in de mail klikt kan u een nieuw wachtwoord aanvragen.</p>
<h5>Stap 2</h5>
<p>Klik rechtsboven in het scherm, rechts naast uw naam, op het <strong>pijltje naar beneden</strong> (rood omcirkeld op
    onderstaande foto).</p>
<img class="img-fluid" alt="" src="../static/instructions/fb_instructions/image1.png" style="max-width:30%;">
<p>Klik daarna op <strong>Instellingen en privacy</strong> (rood omcirkeld op onderstaande foto).</p>
<img class="img-fluid" alt="" src="../static/instructions/fb_instructions/image2.png" style="max-width:30%;">
<p>Klik op <strong>Instellingen</strong> (rood omcirkeld op onderstaande foto).</p>
<img class="img-fluid" alt="" src="../static/instructions/fb_instructions/image3.png" style="max-width:30%;">
<p>Klik links in het menu op &ldquo;<strong>Je Facebook-gegevens</strong>&rdquo; (rood omcirkeld op onderstaande foto).
</p>
<img class="img-fluid" alt="" src="../static/instructions/fb_instructions/image4.png" style="max-width:30%;">
<h5>Stap 3</h5>
<p>Nu bent u op de pagina waar al uw Facebook-gegevens staan en u deze ook zelf kan downloaden.&nbsp;</p>
<p>In het menu aan de rechterkant van uw scherm klikt u op&nbsp; &ldquo;<strong>Je gegevens downloaden</strong>&rdquo;
    (rood omcirkeld op onderstaande foto).</p>
<img class="img-fluid" alt="" src="../static/instructions/fb_instructions/image5.png" style="max-width:60%;">
<h5>Stap 4</h5>
<p>Nu bent u op de pagina waar u een kopie van al uw Facebook-gegevens kan downloaden. Klik dan op &ldquo;<strong>Alles
        deselecteren</strong>&rdquo; (rood omcirkeld op onderstaande foto). De vinkjes aan de rechterkant van het menu
    verdwijnen.</p>
<img class="img-fluid" alt="" src="../static/instructions/fb_instructions/image6.png" style="max-width:60%;">
<p>Selecteer alleen de volgende opties door er op te klikken: <strong><em>Berichten, Opmerkingen, Vind-ik-leuks en
            reacties, Chatberichten, Groepen, Advertenties en bedrijven</em></strong> (rood omcirkeld op onderstaande
    foto). Door naar beneden te scrollen met uw muis krijgt u meer opties te zien.</p>
<img class="img-fluid" alt="" src="../static/instructions/fb_instructions/image7.png" style="max-width:60%;">
<img class="img-fluid" alt="" src="../static/instructions/fb_instructions/image8.png" style="max-width:60%;">
<p>Voor de laatste moet u bijna helemaal naar de onderkant van de webpagina scrollen. Hier staat onder het kopje
    Gegevens voor jou de laatste categorie&euml;n die u moet aanklikken: <strong>Advertenties en bedrijven</strong> en
    <strong>Je onderwerpen</strong> (rood omcirkeld op onderstaande foto).
    <img class="img-fluid" alt="" src="../static/instructions/fb_instructions/image9.png" style="max-width:60%;">
</p>
<h5>Stap 5</h5>
<p>Scroll hierna weer naar de bovenkant van de webpagina. U bent bijna klaar om het bestand aan te vragen. Nu is het van
    belang dat&nbsp; dit wordt opgeslagen met de juiste instellingen.&nbsp;</p>
<p>Om dit te doen stelt u de blokjes onder <strong>Kopie aanvragen</strong> als volgt in:&nbsp;</p>
<ul>
    <li>Datumbereik: <strong>Al mijn gegevens</strong></li>
    <li>Indeling: <strong>JSON</strong></li>
    <li>Mediakwaliteit: <strong>Laag</strong></li>
</ul>
<p>Door op het pijltje rechts in het blokje te klikken kunt deze aanpassen.</p>
<p>Het datumbereik staat hoogstwaarschijnlijk al goed, namelijk op Al mijn gegevens. De Indeling en Mediakwaliteit moet
    u aanpassen.</p>
<p style="font-size: small;"><em>Indeling</em><br />Klik eerst op het pijltje aan de rechterkant van het blokje naast
    Indeling, klik vervolgens op
    JSON.</p>
<img class="img-fluid" alt="" src="../static/instructions/fb_instructions/image10.png" style="max-width:60%;">
<p style="font-size: small;"><em>Mediakwaliteit</em><br />Klik eerst op het pijltje aan de rechterkant van het blokje
    naast Mediakwaliteit, klik
    vervolgens op Laag.</p>
<img class="img-fluid" alt="" src="../static/instructions/fb_instructions/image11.png" style="max-width:60%;">
<h5>Stap 6</h5>
<p>Staan u instellingen precies zoals hieronder? Klik dan op <strong>Bestand maken</strong></p>
<img class="img-fluid" alt="" src="../static/instructions/fb_instructions/image12.png" style="max-width:60%;">
<h5>Stap 7</h5>
<p>Vervolgens krijgt u het volgende informatie te zien:</p>
<p style="font-size: x-small;"><samp><em>Er wordt een kopie van je informatie gemaakt.</em></samp></p>
<p style="font-size: x-small;"><samp>Je kopie kan meer dan &eacute;&eacute;n bestand bevatten. Dit is afhankelijk van de
        hoeveelheid informatie die
        je aanvraagt.
        We laten het weten wanneer je kopie klaar is, zodat je deze kunt downloaden op het apparaat van je voorkeur. Je
        kunt dit proces annuleren voordat het bestand is voltooid.</samp>
</p>
<p style="font-size: x-small;"><samp>Het kan even duren totdat Facebook uw bestand heeft klaargemaakt om te downloaden.
        Dit duurt meestal een paar
        minuten, maar het kan ook een aantal dagen duren.</samp>
</p>
<p>Zodra Facebook klaar is met het voorbereiden van het download-verzoek, sturen ze u een
    melding en een email om te
    laten weten dat het downloadbestand klaar is.</p>
<h5>Stap 8</h5>
<p>De kopie van de door jou opgevraagde gegevens downloaden</p>
<p>Ga naar het gedeelte <strong>Beschikbare kopie&euml;n</strong> van de pagina <strong>Je gegevens
        downloaden.</strong><br /><br /></p>
<img class="img-fluid" alt="" src="../static/instructions/fb_instructions/image13.png" style="max-width:60%;">
<p>Klik op <strong>Downloaden</strong> en voer uw wachtwoord in.</p>