<h4>Stap 1</h4>
<p>Open uw Firefox browser en typ het volgende in in uw adresbalk: about:support</p>
<h4>Stap 2</h4>
<p>Uw komt nu op een website met informatie over waar de gegevens van Firefox op uw computer opgeslagen staan. Zoek op
    deze site, u moet waarschijnlijk een stukje naar beneden scrollen, naar het kopje <strong>Profielpad</strong></p>

<table class="table table-sm w-auto small">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Mac</th>
            <th scope="col">Windows</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <p>Rechts naast Profielpad staat <strong>Tonen in Finder</strong>. Klik hierop en ga naar de map die
                    eindigt op
                    default-release. U komt nu terecht op de plek op uw computer waar uw Firefox-gegevens worden
                    bewaard.

                </p>
                <img class="img-fluid" alt="" src="../static/firefox_instructions/image1.png" style="max-width:100%;">

            </td>
            <td>
                <p>Rechts naast Profielpad staat <strong>Map openen</strong>. Klik hierop en ga naar de map die eindigt
                    op
                    default-release. U komt nu terecht op de plek op uw laptop waar uw Firefox-gegevens worden bewaard.
                </p>
                <img class="img-fluid" alt="" src="../static/firefox_instructions/image2.png" style="max-width:100%;">
            </td>
        </tr>
    </tbody>
</table>


<h4>Stap 3</h4>
<p>Uit deze map uploadt u de volgende map naar het systeem: places.sqlite.</p>