<h4>Stap 1</h4>
<p>Open de Finder op uw mac. Deze vindt u linksonder in uw dock. Dit menu verschijnt als u met uw muis naar beneden gaat
    op uw bureaublad.</p>
<img class="img-fluid" alt="" src="../static/safari_instructions/image1.png" style="max-width:10%;">
<h4>Stap 2</h4>
<p>Als u met uw muis naar boven beweegt, verschijnt er boven het Finder-document een menu. Klik op <strong>Ga</strong>
    en dan op <strong>Ga naar map</strong></p>
<img class="img-fluid" alt="" src="../static/safari_instructions/image2.png" style="max-width:20%;">
<p>Als de instellingen van je computer in het engels staan ga je naar <strong>Go</strong> en dan naar <strong>Go to
        Folder</strong></p>
<img class="img-fluid" alt="" src="../static/safari_instructions/image3.png" style="max-width:20%;">
<h4>Stap 3</h4>
<p>U krijgt een scherm te zien waar u de locatie van een map kan invullen. Vul in het lege veld het volgende in:
    ~/Bibliotheek/Safari/. U kan dit kopi&euml;ren (CMD+C) uit deze tekst en plakken (CMD+V) in het lege veld. Klik
    vervolgens op Ga.</p>
<img class="img-fluid" alt="" src="../static/safari_instructions/image4.png" style="max-width:40%;">
<p>Staan uw laptopinstellingen in het engels? Ga dan naar ~/Library/Safari/. U kan dit kopi&euml;ren (CMD+C) uit deze
    tekst en plakken (CMD+V) in het lege veld. Klik vervolgens op Go.</p>
<img class="img-fluid" alt="" src="../static/safari_instructions/image5.png" style="max-width:40%;">
<h4>Stap 4</h4>
<p>U komt nu terecht op de plek op uw laptop waar uw safari-gegevens worden bewaard.&nbsp;</p>
<img class="img-fluid" alt="" src="../static/safari_instructions/image6.png" style="max-width:80%;">
<h4>Stap 5</h4>
<p>Uit deze map upload u de volgende bestand naar het systeem: <strong>History.db</strong></p>