<h5>Stap 1</h5>
<p>Open de internetbrowser op uw laptop of desktop. Ga naar<a href="https://takeout.google.com/" target="_blank">
        https://takeout.google.com</a> of klik op deze link.</p>
<h5>Stap 2</h5>
<p>Google-producten die uw gegevens bevatten, worden automatisch geselecteerd. Wij zijn echter alleen
    ge&iuml;nteresseerd in uw Youtube-gegevens. Klik op Selectie van alle items ongedaan maken (rood omcirkeld op
    onderstaande foto). De vinkjes aan de rechterkant van het menu verdwijnen.&nbsp;</p>
<img class="img-fluid" alt="" src="../static/youtube_instructions/image1.png" style="max-width:60%;">
<p>&nbsp;</p>
<h5>Stap 3</h5>
<p>Scroll naar beneden tot u het kopje &ldquo;Youtube en Youtube Music&rdquo; tegenkomt in het menu. Klik op het blokje
    aan de rechterkant om deze te selecteren (rood omcirkeld op onderstaande foto).</p>
<img class="img-fluid" alt="" src="../static/youtube_instructions/image9.png" style="max-width:60%;">
<p>Als u deze selecteert komt er een vinkje in het blokje te staan.</p>
<h5>Stap 4</h5>
<p>Klik vervolgens op Meerdere indelingen links onder het kopje YouTube en YouTube Music.</p>
<img class="img-fluid" alt="" src="../static/youtube_instructions/image4.png" style="max-width:60%;">
<h5>Stap 5</h5>
<p>U krijgt het volgende scherm te zien. Verander vervolgens rechts naast het kopje Geschiedenis de instelling van Html
    (door op het pijltje naast Html te klikken) naar Json. Klik daarna rechtsonder op OK.</p>
<img class="img-fluid" alt="" src="../static/youtube_instructions/image5.png" style="max-width:60%;">
<img class="img-fluid" alt="" src="../static/youtube_instructions/image8.png" style="max-width:100%;">
<h5>Stap 6</h5>
<p>U komt nu weer op het scherm waar YouTube en YouTube Music geselecteerd staat. Klik rechtsonder dit kopje op Alle
    YouTube-gegevens inbegrepen.</p>
<img class="img-fluid" alt="" src="../static/youtube_instructions/image6.png" style="max-width:60%;">
<h5>Stap 7</h5>
<p>Er opent een nieuw menu. Klik op Selectie van alle items ongedaan maken en selecteer alleen geschiedenis door hierop
    te klikken. Klik vervolgens rechtsonder op OK.</p>
<img class="img-fluid" alt="" src="../static/youtube_instructions/image10.png" style="max-width:40%;">
<h5>Stap 8</h5>
<p>Scroll vervolgens helemaal naar beneden en klik rechtsonder op Volgende stap.</p>
<img class="img-fluid" alt="" src="../static/youtube_instructions/image3.png" style="max-width:60%;">
<h5>Stap 9</h5>
<p><br />U ziet nu het blok Bestandstype, frequentie en bestemming kiezen. Controleer of u verzoek juist is ingesteld:
</p>
<ul>
    <li>Leveringsmethode: <strong>Downloadlink verzenden via e-mail</strong></li>
    <li>Frequentie: <strong>E&eacute;n keer exporteren</strong></li>
    <li>Bestandstype en -grootte:<strong>.zip en 2 GB</strong></li>
</ul>
<img class="img-fluid" alt="" src="../static/youtube_instructions/image7.png" style="max-width:60%;">
<p>Staan de instellingen zoals hierboven? Dan kan u rechtsonder klikken op Export maken</p>
<img class="img-fluid" alt="" src="../static/youtube_instructions/image2.png" style="max-width:60%;">
<h5>Stap 10</h5>
<p>U krijgt het volgende scherm te zien:</p>
<p style="font-size: x-small;"><samp>
        Voortgang van export<br />Google maakt een kopie van bestanden in YouTube en YouTube Music<br />Het kan lang
        duren
        (mogelijk uren of dagen) voordat dit proces is voltooid. <br />Je krijgt een e-mail als je export klaar
        is.</samp></p>
<p style="font-size: x-small;"><samp>Als de datadownload klaar is ontvangt u een mail op het emailadres dat aan uw
        Google-account is gekoppeld. Dit duurt
        meestal een aantal minuten, maar kan in enkele gevallen ook een paar dagen duren.</samp></p>
<p><br /><br /></p>