    <footer>
        <div class="container-fluid bg-dark m-0 pt-2 pb-2 text-center text-white text-bold">
            <p style="font-size: x-small;" class="m-0">Contact us at: {{ content_settings.contact_us }}</p>
        </div>
    </footer>