<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <style>
      #drop-area {
        border: 2px dashed #ccc;
        border-radius: 20px;
        width: 480px;
        margin: 100px auto;
        padding: 20px;
      }
      
      #drop-area.highlight {
        border-color: green;
      }
      
      #progress-bar {
        width: 100%;
        height: 15px;
      }    
    </style>
</head>

<body>

  <header>
    <div class="navbar navbar-dark shadow-sm navbar-expand-lg bg-dark fixed-top">
        <a class="navbar-brand" href="/">OSD2F</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        <span>Why donate data?</span>
                    </a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="/privacy">
                        <span>Keeping your data safe</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/donate">
                        <span>How it works</span>
                    </a>
                </li>

            </ul>
        </div>

    </div>
</header>



  <div class="container-fluid">
    <div class="row m-2">
    <div id="drop-area">
        <progress id="progress-bar" max=100 value=0></progress>
        <form class="my-form">
          <p>Upload the zipfile with the file dialog or by dragging and dropping the zipfile or extracted folder onto the dashed region</p>
          <input type="file" id="fileElem"  onchange="handleSelect(this.files)">
          <label class="button" for="fileElem">Select some files</label>
        </form>
        
      </div>      
    </div>

    <div class="row m-2 justify-content-center p-1">
      <div>
        <h1 class="text-center">Your donation:</h1>
        <div id="files" class="p-2"></div>
      </div>
    </div>

    <div id="processing" class="invisible">
      <div class="row p-2 justify-content-center">
          <h2 class="text-center">Processing....</h2>
      </div>
      <div class="row p-2 justify-content-center">
        <div class="spinner-border text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
    
    
    <div class="row justify-content-center p-4">
      <div class="text-center">
        <button type="button" class="btn btn-primary disabled pr-4" id="donatebutton" disabled>
          <span id="donatespinner" class="spinner-border spinner-border-sm invisible" role="status" aria-hidden="true"></span>
          Donate This Data!
        </button>
      </div>
    </div>
  </div>
  <div class="row justify-content-center invisible" id="thankyou">
    <h1>Thank you for your donation!</h1>
  </div>

  <footer>
    <div class="container-fluid bg-dark m-0 pt-2 pb-2 text-center text-white text-bold">
        <p style="font-size: x-small;" class="m-0">Contact us at: osd2f@uva.nl</p>
    </div>
</footer>


<script src="/static/js/uncompress.js"></script>
<script src="/static/js/main.js"></script>
<script>
    let settings = {{ settings|tojson|safe }};
    let sid = {{sid|tojson|safe}};


    let dropArea = document.getElementById("drop-area");

    ['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
    dropArea.addEventListener(eventName, preventDefaults, false)
    })

    function preventDefaults(e) {
      e.preventDefault()
      e.stopPropagation()
    }

    ['dragenter', 'dragover'].forEach(eventName => {
      dropArea.addEventListener(eventName, highlight, false)
    });

    ['dragleave', 'drop'].forEach(eventName => {
      dropArea.addEventListener(eventName, unhighlight, false)
    })

    function highlight(e) {
    dropArea.classList.add('highlight')
    }

    function unhighlight(e) {
    dropArea.classList.remove('highlight')
    }
    
    
    // output will be the container for the donation data
    let output
    // track whether the donation has been completed for the prevent close dialogue
    let noDonationYet=true
    // because the unzip lib loads plugins with a callback, this var signals availability of the necessary plugin
    let zipReady=false 

    function appendFile(fileobj){
      document.getElementById("files")
      .innerHTML += `<p>${fileobj.filename} : <b> ${fileobj.entries.length} </b> datapoints</p>`
    }

    function resultHandler(d){
      output=d; 
      d.data.forEach(appendFile);
      document.getElementById("donatebutton").classList.remove("disabled")
      document.getElementById("donatebutton").attributes.removeNamedItem("disabled")
    }

    // Drops are akward because of the nature of 
    // webkitDirectories w.r.t. 'normal' file 
    // selectors
    async function handleDrop(e) {
        let items = e.dataTransfer.items;
        let fileobj
        fileobj = items

        var files = []
        var wg = 1
        extractFiles = function(wke){
            console.log(wke.name)
            if (wke.isDirectory){
            wg++
            console.log(wg)
            r = wke.createReader()
            r.readEntries(es => es.map(extractFiles))
            } else {
            wke.file(c => {
                files.push(c)
                wg--
            })
            console.log(wg)
            }
        }
        if (items.length>0 && items[0]){}
        let i
        for( i=0; i < items.length; i++){
            extractFiles(items[i].webkitGetAsEntry())
        }
        
        // this loop serves to make sure the
        // asynchronous parsing in extractFiles
        // is completed before passing the file-list.
        // msec is the total number of milliseconds to
        // wait (unless parsing is completed in the meantime)
        // and step the number of milliseconds to wait between
        // polling whether the result is ready.
        let msec, step
        msec = 10000
        step = 100
        while (wg > 0 & msec >0){
            await file_upload.sleep(step)
            msec-=step
        }
        // if there is one file, which is an archive
        if (files.length==1 && RegExp(".*.zip$").exec(files[0].name) != null){
            let done = false 

            loadArchiveFormats(["zip"], (r,e)=>{
                if(e!==null&&e!==undefined){
                    console.log("unable to load zip script", e)
                } else {
                    archiveOpenFile(files[0], "", (r,e)=>{
                      console.log("fs",files)
                      fileobj = r 
                      files = r.entries
                      done = true
                    })
                }})
            
            let wait = 1000
            while (!done && wait>0){
              await file_upload.sleep(100)
              wait -= 100
            }
        }
        
        file_upload.fileLoadController(sid, settings, files, resultHandler)

        }
    dropArea.addEventListener('drop', handleDrop, false)

    async function handleSelect(files){
      console.log([...files])
      // if there is one file, which is an archive
      if (files.length==1 && RegExp(".*.zip$").exec(files[0].name) != null){
        let done = false 

        loadArchiveFormats(["zip"], (r,e)=>{
          if(e!==null&&e!==undefined){
            console.log("unable to load script", e)            
          } else {
            archiveOpenFile(files[0], "", (r,e)=>{
              fileobj = r 
              files = r.entries
              if (e!==null){
                console.log(e)
              }
              done = true
            })
          }})
        
        wait = 1000
        while (!done && wait>0){
          await file_upload.sleep(100)
          wait -= 100
        }
      }
      file_upload.fileLoadController(sid, settings, [...files], resultHandler)
    }



    function donate(){
      document.getElementById("donatespinner").classList.remove("invisible")

      fetch(
      "/upload", 
    {
      method: "POST",
      mode: "same-origin",
      credentials: "same-origin",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify(output.data)
    }
    ).then(() => {
      document.getElementById("donatespinner").classList.add("invisible");
      document.getElementById("donatebutton").classList.add("disabled");
      document.getElementById("thankyou").classList.remove("invisible");
      noDonationYet = false;
    })
    .catch((error)=>{console.log("Error",error)})
    }

    document.getElementById("donatebutton").addEventListener("click",donate)

    // prevent accidentally leaving before donating
    window.onbeforeunload = confirmExit;
    function confirmExit() {
        if (noDonationYet) {
           return "You haven't donated yet, are you sure you want to leave?";
        }
    }

</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
</html>