<p>You looked through the instructions and the FAQ and still could not resolve your problem?&nbsp;</p>
<p>Then feel free to contact us at <a href="mailto:digitale-voetsporen.fsw@vu.nl">digitale-voetsporen.fsw@vu.nl</a>. We
    will respond as soon as
    possible, at the latest within one working day and help you solve your problem. You can now go back to the
    questionnaire window (if it is not open anymore, click on this link) and continue with the study. You will
    next see the option to tell us that you could not upload your data yet - select it and you can move on with
    the questionnaire.&nbsp;</p>